<div class="container">
	<form name="fornecedorForm">

		<input class="form-control" type="text" ng-model="fornecedor.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="3" ng-maxlength="80">

		<input class="form-control" type="text" ng-model="fornecedor.cpf" name="cpf" placeholder="CPF (Somente números)" ng-required="true" ui-cpf>

		<input class="form-control" type="text" ng-model="fornecedor.fone" name="fone" placeholder="Telefone (Com DDD)" ng-required="true" ui-telefone>

		<input class="form-control" type="email" ng-model="fornecedor.email" name="email" placeholder="Email" ng-required="true" ng-minlength="10" ng-maxlength="80">

		<button class="btn btn-success" ng-click="addFornecedor(fornecedor)" ng-disabled="fornecedorForm.$invalid">Adicionar</button>
	</form>
</div>