<div class="container">

	<form name="compraForm">
		<select class="form-control" name="produto" ng-model="compra.produto_id">
			<option value="" disabled>Selecione um produto</option>
			<option ng-repeat="produto in produtos | orderBy: 'nome'" value="{{produto.id}}">{{produto.nome}}</option>
		</select>

		<select class="form-control" name="quantidade" ng-model="compra.quantidade" ng-options="valor for valor in quantidade">
			<option value="" disabled >Selecione a quantidade</option>
		</select>

		<input class="form-control" type="text" name="valor" ng-model="compra.value_product" placeholder="Valor">
		
		<select class="form-control" name="fornecedor" ng-model="compra.fornecedor_id">
			<option value="" disabled >Selecione um fornecedor</option>
			<option ng-repeat="fornecedor in fornecedores | orderBy: 'nome'" value="{{fornecedor.id}}">{{fornecedor.nome}}</option>
		</select>

		<button class="btn btn-success" ng-click="addCompra(compra)">Adicionar</button>

	</form>

</div>