<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>
			Cadastro de Usuário
		</h3>
	</div>
	<div class="panel-body">

	<ui-error ng-show="error">
		Já existe um usuário com o mesmo nome cadastrado!
	</ui-error>

	<ui-success ng-show="success">
		Usuário cadastrado com sucesso!
	</ui-success>

		<form class="formularioCadastro" name="usuarioForm">
			<input class="form-control" type="text" ng-model="usuario.nome_usuario" name="nome" placeholder="Nome de usuário" ng-required="true" ng-minlength="8" ng-maxlength="30">
			<br>
			<button class="btn btn-success btn-group-justified" ng-click="addUsuario(usuario)" ng-disabled="usuarioForm.$invalid">Cadastrar</button>
		</form>
	</div>
</div>